const firebaseConfig = {

  apiKey: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",

  authDomain: "xxxxxxxxxxxxxxxxxx.firebaseapp.com",

  projectId: "xxxxxxxxxxxxxxxxxx",

  storageBucket: "xxxxxxxxxxxxxxxxxx.firebasestorage.app",

  messagingSenderId: "xxxxxxxxxxxx",

  appId: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

};
